<div class="widget-wrapper text-dark" [@defaultAnimation]="true">
  <div class="heading-wrapper">
    <div class="fs-3 text-dark">Free</div>
    <div class="fs-1 text-dark">
      0$
      <span class="fs-6 text-muted">free forever</span>
    </div>
  </div>
  <div class="benefits-wrapper">
    <div class="benefit">
      <i class="fa fa-solid fa-circle-check text-accent me-1"></i>
      Limited access
    </div>
    <div class="benefit">
      <i class="fa fa-solid fa-circle-check text-accent me-1"></i>
      10 readings/day
    </div>
    <div class="benefit">
      <i class="fa fa-solid fa-circle-check text-accent me-1"></i>
      Predefined device types
      <i
        class="fa fa-solid fa-circle-question text-muted ms-1"
        [appTooltip]="'Order basic devices'"
        tooltipPos="right"></i>
    </div>
    <div class="benefit">
      <i class="fa fa-solid fa-circle-xmark text-danger me-1"></i>
      Private groups
    </div>
    <div class="benefit">
      <i class="fa fa-solid fa-circle-xmark text-danger me-1"></i>
      Statistics
    </div>
  </div>
</div>
