:host {
  height: 100vh;
  width: var(--menu-width);
  box-sizing: border-box;
  // makes the menu stay in place, even when content is scrollable
  position: sticky;
  top: 0;
  background-color: var(--primary-darker);
  // make width transition smooth when not resizing manually
  &:not(.resizing) {
    transition: width 0.6s cubic-bezier(0.02, 0.68, 0.63, 0.98);
  }
  .menu-body-container {
    overflow-y: auto;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    .account-wrapper {
      border: 2px solid var(--border-color);
      background-color: var(--primary-dark);
      .account-popover-wrapper {
        border: 2px solid var(--border-color);
        background-color: var(--primary-light);
        div:hover {
          color: var(--text-medium);
        }
      }
    }
    .menu-section-wrapper {
      li {
        background-color: var(--primary-dark);
        list-style: none;
        transition: 0.25s;
        span {
          transition: 0.25s linear;
        }
        i {
          transition: 0.1s linear;
        }
        .child-menu-item {
          background-color: var(--primary-medium);
          list-style: none;
          transition: 0.25s;
        }
        li.active-child {
          background-color: var(--primary-medium);
          i,
          span {
            color: var(--text-accent) !important;
          }
        }
      }
      li:hover {
        background-color: var(--primary-medium);
        i,
        span {
          color: var(--text-medium) !important;
        }
      }
      li.active {
        background-color: var(--primary-medium);
        span.parent-menu,
        i.parent-menu {
          color: var(--text-accent) !important;
        }
        i.fa-chevron-right {
          transform: rotate(90deg);
        }
        li.child-menu-item:hover {
          background-color: var(--primary-light);
        }
      }
    }
  }

  .resize-handle {
    height: 100%;
    background-color: var(--text-accent);
    width: 3px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
    // prevent text selection while dragging
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease-out;
    // buffer to make it easier to grab the resize handle
    &::after {
      content: "";
      display: block;
      // height: 100%;
      width: 24px;
      position: absolute;
      right: -12px;
      z-index: 1;
    }
    // buffer to avoid flickering cursor when resizing
    &.resizing::after {
      width: 100px;
      right: calc(-100px / 2);
    }
    svg {
      position: relative;
      left: -6.5px;
      top: 50%;
      background: var(--text-accent);
      border-radius: 3px;
    }
  }
}
