@font-face {
  font-family: "Geist Sans";
  src: url("./assets/fonts/Geist/._Geist-Regular.woff2") format("woff2"),
    url("./assets/fonts/Geist/._Geist-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.text-light {
  color: var(--text-light) !important;
}
.text-medium {
  color: var(--text-medium) !important;
}
.text-dark {
  color: var(--text-dark) !important;
}
.text-accent {
  color: var(--text-accent) !important;
}

.link {
  color: var(--text-accent) !important;
  text-decoration: underline 1px transparent;
  transition: text-decoration-color 0.15s;
}
.link:hover {
  text-decoration-color: var(--text-accent);
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.divider {
  background-color: var(--border-color);
  height: 1px;
  margin: 0.75rem 0px;
}

:root {
  --text-light: #fefefe;
  --text-medium: #414843;
  --text-dark: #0d0d0d;
  --text-accent: #80ca0e;

  --primary-light: #ffffff;
  --primary-medium: #f5f5f5;
  --primary-dark: #48524a;
  --primary-darker: #39463d;

  --accent-light: #48524a;
  --accent-dark: #48524a;

  --border-radius: 12px;
  --border-width: 1px;
  --border-color: #43c36e0f;

  --font-sm: 0.5em;
  --font-md: 1em;
  --font-lg: 1.5em;

  --success: #80ca0e;
  --destructive: #7f1d1d;

  --menu-width: 300px;
}
